In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """SELECT Facilities.name as Facility,(Members.surname|| ', '|| Members.firstname) as Member, COUNT(Members.memid) as 'Number of Bookings'
FROM Bookings
LEFT JOIN Facilities on Bookings.facid = Facilities.facid
LEFT JOIN Members on Bookings.memid = Members.memid
WHERE Bookings.memid > 0
GROUP BY Members.memid
ORDER BY Facility, Member
"""

    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Bader, Florence', 120)
('Badminton Court', 'Crumpet, Erica', 7)
('Badminton Court', 'Dare, Nancy', 117)
('Badminton Court', 'Jones, Douglas', 14)
('Badminton Court', 'Mackenzie, Anna', 126)
('Badminton Court', 'Purview, Millicent', 16)
('Badminton Court', 'Worthington-Smyth, Henry', 41)
('Massage Room 1', 'Joplette, Janice', 159)
('Massage Room 1', 'Rownam, Tim', 408)
('Massage Room 1', 'Smith, Jack', 89)
('Massage Room 2', 'Genting, Matthew', 72)
('Snooker Table', 'Coplin, Joan', 53)
('Snooker Table', 'Pinker, David', 71)
('Snooker Table', 'Rumney, Henrietta', 20)
('Snooker Table', 'Tupperware, Hyacinth', 16)
('Table Tennis', 'Farrell, Jemima', 80)
('Table Tennis', 'Smith, Darren', 261)
('Tennis Court 1', 'Baker, Anne', 118)
('Tennis Court 1', 'Butters, Gerald', 163)
('Tennis Court 1', 'Farrell, David', 34)
('Tennis Court 1', 'Hunt, John', 15)
('Tennis Court 1', 'Owen, Charles', 131)
('Tennis Court 1', 'Smith, Tracy', 210)
('Tennis Court 2', 'Baker, Timothy', 166)
('Tennis Court 2', 'Boothe, Tim', 188)
('Tennis Court 2', 'Jones, David', 115)
('Tennis Court 2', 'Sarwin, Ramnaresh', 70)
('Tennis Court 2', 'Stibbons, Ponder', 104)
('Tennis Court 2', 'Tracy, Burton', 176)